body {
  background: rgb(189, 189, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  flex-direction: column;
}

.container {
  background: rgb(226, 226, 226);
  width: 800px;
  height: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  width: 50px;
  height: 50px;
  border: 0;
  background: rgb(226, 226, 226);
  color: rgb(78, 78, 78);
}

.button1 {
  margin-right: 25px;
}

.button2 {
  margin-left: 25px;
}

.container2 {
  background: white;
  width: 640px;
  height: 360px;
  display: flex;
  align-items: flex-end;
}

h1 {
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  color: white;
}

img {
  height: 360px;
  width: 640px;
}

footer {
  background: rgb(189, 189, 189);
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.small {
  height: 50px;
  width: 50px;
  border: 5px solid white;
  margin: 20px;
}
