body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1080px;
  height: 1080px;
  border: 2px solid black;
  border-radius: 30px;
  flex-direction: column;
}

.container {
  background: plum;
  display: flex;
  flex-direction: row;
  width: 960px;
  height: 50px;
}

.button {
  display: flex;
  background: aqua;
  width: 50px;
  height: 25px;
  margin: 10px;
}

.one {
  max-width: 100px;
  flex-grow: 1;
}

.two {
  max-width: 100px;
  flex-grow: 0;
}

.three {
  max-width: 100px;
  flex-grow: 1;
}

.container2 {
  width: 960px;
  height: 860px;
  display: flex;
  flex-direction: row;
}

.yellow {
  background: lightsalmon;
  width: 66.7%;
  height: 860px;
}

.green {
  background: lightgreen;
  width: 33.3%;
  height: 860px;
}
