/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .outer {
  margin: 0 auto;
} */

body {
  margin: 0;
}

.header {
  margin: 0;
  background: lightblue;
  width: 100%;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-content: space-between;
}

.left {
  background: orange;
  width: 20%;
  height: 500;
}

.main {
  background: red;
  width: 40%;
  height: 500px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.black {
  width: 50px;
  height: 50px;
  background: black;
  margin: 0 20px 20px 0;
}

.right {
  background: purple;
  width: 20%;
  height: 500px;
}

.footer {
  background: blue;
  width: 100%;
  height: 100px;
}
